*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root{
    --cor1:#00E069;
    --cor2:#CFE04D;
    --cor3:#00A3E0;
}

body{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
}

main{
    color: white;
    background-color: rgb(12, 12, 12);
    width: 500px;
    height: 500px;
    margin: auto;
    margin-top: 200px;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.507);
    position: relative;
}

div{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div h1{
    font-size: 2.5em;
}

input{
    height: 50px;
    width: 300px;
    margin: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.479);
}

input.submit{
    background-color: var(--cor3);
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    width: 303px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.493);
}

input.submit:hover{
    background-color: #004b66;
}

div p{
    text-align: center;
    font-size: 1em;
}

div p > a{
    color: white;
    text-decoration: none;
}

div p > a:hover{
    text-decoration: underline;
}